.diferenciales {
  height: inherit;
  position: relative;
  @include media(tablet) {
    background-position: 75% 65%;
    background-size: 65%;
    max-height: 661px;
    min-height: 617px;
    height: 110vh;
    background-image: url(../images/diferenciales-section.webp);
    background-repeat: no-repeat;
  }
  @include media(desktop-s) {
    background-size: 65%;
    margin-bottom: 60px;
    background-position: 85% 80%;
    max-height: 843px;
    min-height: 760px;
  }
  @include media(desktop-m) {
    background-size: 50%;
    background-position: 65% 80%;
    max-height: 760px;
    min-height: 760px;
  }
  &--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-secundario;
    @include media(tablet) {
      width: 45%;
      position: absolute;
      left: 5%;
      top: 6%;
    }
    @include media(desktop-s) {
      width: 35%;
      position: absolute;
      left: 15%;
      top: 10%;
    }
    &--title {
      font-size: 32px;
      font-weight: 400;
      margin: 50px 0 30px;
      font-family: $Fuente2;
      @include media(tablet) {
        margin-top: 20px;
      }
    }
    &--boxcont {
      width: 85%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid $color-terciario;
      &--box {
        width: 48%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media(tablet) {
          width: 48%;
        }
        &--img {
          width: 80px;
          @include media(mobile-xl) {
            width: 150px;
          }
          @include media(tablet) {
            width: 80px;
          }
        }
        & p {
          font-size: 1.6em;
          font-weight: 500;
          letter-spacing: 1px;
          text-align: center;
          color: $color-terciario;
          font-family: $Fuente3;
          @include media(tablet) {
            font-size: 0.875em;
          }
        }
      }
    }
    &--text {
      margin: 30px 0 40px;
      font-size: 1.7em;
      text-align: center;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: $Fuente3;
      @include media(tablet) {
        font-size: 1em;
      }
      @include media(desktop-s) {
        font-size: 1.125em;
      }
    }
  }
  &--img {
    width: 100%;
  }
}
