.footer {
  height: 280px;
  background: $color-primario;
  @include flex;
  @include media(tablet) {
    height: 150px;
  }
  &--container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include media(tablet) {
      flex-direction: row;
      width: 90%;
    }
    @include media(desktop-s) {
      width: 85%;
    }
    &--datos {
      width: 300px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      & p {
        margin: 3px;
        font-size: 1.8em;
        letter-spacing: 1px;
        text-align: center;
        color: $color-claro;
        font-family: $Fuente3;
        @include media(tablet) {
          font-size: 0.7em;
        }
        @include media(desktop-s) {
          font-size: 0.9em;
          margin-top: 2px;
        }
        @include media(desktop-m) {
          font-size: 1.125em;
        }
      }
    }
    &--logo {
      width: 300px;
      display: flex;
      justify-content: center;
      @include media(tablet) {
        width: 180px;
      }
      @include media(desktop-m) {
        width: 250px;
      }

      &--figure {
        margin: 0;
        & img {
          width: 250px;
          margin: 0;
          @include media(tablet) {
            width: 180px;
          }
          @include media(desktop-m) {
            width: 250px;
          }
        }
      }
    }
    &--redes {
      width: 300px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      @include media(tablet) {
        justify-content: flex-end;
        margin-top: 0;
      }
      & img {
        width: 35px;
        margin-left: 10px;
      }
    }
  }
}
